 .u-section-1 {
  background-image: url("images/c3e77311b245e8fb387ed662751f33996170f57733236727ef4df02475c498545cd78969bf5fbf91fcde64afca3325704f98c1d2523997505b2345_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 726px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 4.5rem;
  font-weight: 700;
  margin: 45px 0 60px;
}

.u-section-1 .u-icon-2 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-text-1 {
    width: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }
}.u-block-7806-5 {
  position: absolute;
  top: auto;
  bottom: 9px;
}

.u-block-7806-9 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-7806-10 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Tennis_For_Two_on_a_DuMont_Lab_Oscilloscope_Type_304-A.jpg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-1 .u-text-1 {
  margin: 514px 592px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Pong.png");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-2 .u-text-1 {
  margin: 380px 396px 60px 21px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 217px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-2-2 .u-text-1 {
    width: auto;
    margin-top: 410px;
    margin-bottom: 31px;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gb487c2a726d0f1b5a13ec147abca68d36f5973638ae969b344f22431a5387605f9fce942fd69460130a16d467961963a_1280.png");
  background-position: 50% 50%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-3 .u-text-1 {
  margin: 607px 588px 39px 5px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-3 .u-text-1 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-3 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/40abae88c7d2ecdfc5ebbb754a6aa31e24c2842fb92f55182015c4325ddcce7e3ab573dd2da8016a21c6139c66885d85bc4f28b411d45974a391dc_1280.png");
  background-position: 50% 50%;
}

.u-section-2-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-4 .u-text-1 {
  margin: 412px 587px 60px 5px;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2-4 .u-text-1 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 724px;
  }
}

 .u-section-2-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/47c603ecb55369490a4c7c4039fe04b661baa1e2e6ad01141183410e5063cb1cdc4990ff050208cd971a8b4d799b14b095e43591c665dd4d0b9b49_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-5 .u-text-1 {
  margin: 558px 0 50px 592px;
}

@media (max-width: 1199px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-5 .u-text-1 {
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-5 .u-text-1 {
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-5 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/sonic.png");
  background-position: 50% 50%;
}

.u-section-2-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-6 .u-text-1 {
  margin: 573px 570px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-6 .u-text-1 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-6 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-6 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-6 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dooom.png");
  background-position: 50% 50%;
}

.u-section-2-7 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-7 .u-text-1 {
  margin: 60px 570px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-7 .u-text-1 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-7 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-7 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-7 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/PS2_png.png");
  background-position: 50% 50%;
}

.u-section-2-8 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-8 .u-text-1 {
  margin: 82px 570px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-8 .u-text-1 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-8 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-8 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-8 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/21979a94bab89c7e31a083d135c3448356b238e5fff1a82a26f80416a21f19d5eac7c0decd98102383273ddc50928b28ab81fe3896f96d42db8c8c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2-9 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2-9 .u-text-1 {
  margin: 60px 570px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-9 .u-text-1 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-9 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-9 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-9 .u-sheet-1 {
    min-height: 239px;
  }
}

 .u-section-2-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/89f76d3a72c9036e2ba14d4a5800ccb7619aa78413524d8c5c25c21935655e41ec5347ef100283fbf09982a6149fdad1af69f855a63852b765f3f5_1280.png");
  background-position: 50% 50%;
}

.u-section-2-10 .u-sheet-1 {
  min-height: 801px;
}

.u-section-2-10 .u-text-1 {
  margin: 138px 570px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-2-10 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2-10 .u-text-1 {
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-10 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2-10 .u-text-1 {
    margin-right: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-2-10 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2-10 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2-10 .u-sheet-1 {
    min-height: 239px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-slider-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 648px;
  height: auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 56px;
  height: 22px;
  top: auto;
  bottom: 25px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 50px;
}

.u-section-3 .u-group-1 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  margin: 10px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  object-position: 50% 5.38%;
  width: 520px;
  height: 464px;
  margin: -464px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-group-2 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 40px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  width: 520px;
  height: 464px;
  margin: -464px 0 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-3 .u-group-3 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 40px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  width: 520px;
  height: 508px;
  margin: -508px 0 0 auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 24px 0;
}

.u-section-3 .u-group-4 {
  width: 476px;
  min-height: 532px;
  background-image: none;
  margin: 6px auto 0 50px;
}

.u-section-3 .u-container-layout-8 {
  padding: 40px;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-4 {
  width: 524px;
  height: 532px;
  margin: -532px 50px 0 auto;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-3 .u-group-5 {
  width: 476px;
  min-height: 464px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 40px;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-5 {
  width: 520px;
  height: 464px;
  margin: -464px 0 44px auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 591px;
  }

  .u-section-3 .u-carousel-indicators-1 {
    bottom: 47px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-group-2 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 391px;
    height: 440px;
    object-position: 13.57% 50%;
    margin-top: -440px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-group-3 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-image-3 {
    width: 391px;
    height: 440px;
    object-position: 13.57% 50%;
    margin-top: -440px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-group-5 {
    width: 405px;
    min-height: 440px;
    margin-right: 435px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-image-5 {
    width: 391px;
    height: 440px;
    object-position: 13.57% 50%;
    margin-top: -440px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 906px;
  }

  .u-section-3 .u-carousel-indicators-1 {
    bottom: 27px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 22px 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-group-2 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 22px 30px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 375px;
    margin-top: 30px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-group-3 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 22px 30px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 375px;
    margin-top: 30px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 22px 30px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-group-5 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding: 22px 30px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    height: 375px;
    margin-top: 30px;
    margin-bottom: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 16px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 20px;
    margin-bottom: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 286px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 345px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: url("images/pexels-photo-3165335.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 740px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 48px 0 48px auto;
}

.u-section-4 .u-image-1 {
  min-height: 680px;
  background-image: url("images/silla-gamer-luces-neon-multicolor_52683-99749.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  line-height: 1;
  font-weight: 900;
  font-size: 2.25rem;
  margin: 0 248px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 644px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  line-height: 2.2;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 444px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 549px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 680px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 81.03% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-4 .u-image-1 {
    min-height: 326px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-4 .u-text-2 {
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-4 .u-image-1 {
    min-height: 645px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 58px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 100% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-4 .u-image-1 {
    min-height: 406px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 315px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 195px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 21px 140px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 195px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.25rem;
  margin: 66px 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 57px;
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 704px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 33px auto 33px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 325px;
}

.u-section-6 .u-container-layout-1 {
  padding: 40px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 32px 0 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 56px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 260px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 74px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 260px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.u-section-6 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 74px;
}

.u-section-6 .u-image-1 {
  min-height: 582px;
  background-image: url("images/pexels-photo-3945673.jpeg");
  background-position: 72.1% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-6 .u-image-1 {
    min-height: 619px;
    background-position: 81.9% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 194px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 74px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 194px;
  }

  .u-section-6 .u-image-1 {
    min-height: 657px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 493px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-6 .u-image-1 {
    min-height: 310px;
  }
} .u-section-7 {
  min-height: 500px;
}

.u-section-7 .u-gallery-1 {
  height: 500px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 0px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 412px;
  }

  .u-section-7 .u-gallery-1 {
    height: 412px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1262px;
  }

  .u-section-7 .u-gallery-1 {
    height: 1262px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 2486px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: -1300px;
    height: 2486px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1565px;
  }

  .u-section-7 .u-gallery-1 {
    margin-bottom: -819px;
    height: 1565px;
  }
} .u-section-8 {
  background-image: url("images/pc2.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 653px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 543px 570px 32px -6px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 470px;
    width: 576px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
    margin-right: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
    margin-right: 170px;
  }
}